# Ignore all .log files
*cpython*
*.log
*.pyc
**/data/
**/__pycache__/
**.egg-info/

# Ignore folders related to IDEs
.vscode/

# Ignore temporary files created by the operating system
.DS_Store

# Jupyter Book build files
_build/
.jupyter_cache/
.github/
